.dropcap {
display: block;
float: left;
margin: 0 8px 0 0;
font-size: 42px;
line-height: 42px;
font-family: Georgia, Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
color: #333;
}

.highlight {
background: #FFFFB8;
}

.checklist ul, .starlist ul {
list-style-type: disc;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
}

.checklist li {
background-image: url(images/check.png);
list-style: none;
background-position: left top;
background-repeat: no-repeat;
padding-left: 25px;
}

.starlist li {
background-image: url(images/star.png);
list-style: none;
background-position: left top;
background-repeat: no-repeat;
padding-left: 25px;
}

.one_half {
width: 48%;
}

.last {
margin-right: 0 !important;
clear: right;
}

.one_third {
width: 30.66%;
}

.two_third {
width: 65.33%;
}

.one_fourth {
width: 22%;
}

.three_fourth {
width: 74%;
}

.one_fifth {
width: 16.8%;
}

.two_fifth {
width: 37.6%;
}

.three_fifth {
width: 58.4%;
}

.one_sixth {
width: 13.33%;
}

.five_sixth {
width: 82.67%;
}

.box {
padding: 12px;
background-color: #F6F6F6;
margin-bottom: 20px;
word-wrap: break-word;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.box div {
padding-left: 44px;
min-height: 50px;
}

.box.shadow {
}

.box.shadow div {
padding: 0;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
position: relative;
margin-right: 4%;
float: left;
}

.box.info {
background: #D6F6FF;
}

.box.info div {
background: url(images/info.png) no-repeat left top;
}

.box.success {
background: #E2F2CB;
}

.box.success div {
background: url(images/success.png) no-repeat left top;
}

.box.warning {
background: #FFFDDB;
}

.box.warning div {
background: url(images/warning.png) no-repeat left top;
}

.box.error {
background: #FFE6E2;
}

.box.error div {
background: url(images/error.png) no-repeat left top;
}

.box.download {
background: #E2F2CB;
}

.box.download div {
background: url(images/download.png) no-repeat left top;
}

.box.note {
background: #FFFDDB;
}

.box.note div {
background: url(images/note.png) no-repeat left top;
}

a.button {padding: 6px 34px 7px 34px;
width: auto;
background: none;
border: none;
display: inline-block;

background: #434343;
text-decoration: none;
-o-transition: color 0.15s ease-in;
-webkit-transition: color 0.15s ease-in;
-moz-transition: color 0.15s ease-in;
transition: color 0.15s ease-in;
color: #fff;
border-radius: 3px;
vertical-align: middle;
font-weight: 400;
cursor: pointer;
margin: 0 5px 20px;
position: relative;
}

a.button.primary {
background: #ff5335;
}

a.button.red {
background: #DB2B35;
}

a.button.orange {
background: orange;
}

a.button.blue {
background: #00A2FF;
}

a.button.green {
background: #89C03E;
}

a.button.black {
background-color:transparent;
background: none;
box-shadow: none;
color: #000;
text-shadow: none;
border: 2px solid #000;
font-weight: bold;
}

a.button.black:hover {
color: #000;
}

a.button.white {
background-color:transparent;
background: none;
box-shadow: none;
color: #FFF;
text-shadow: none;
border: 2px solid #FFF;
}

a.button.pink {
background: #ED596A;
}

a.button.purple {
background: #69043B;
}

a.button:hover {-o-transition: color 0.15s ease-in;
-webkit-transition: color 0.15s ease-in;
-moz-transition: color 0.15s ease-in;
transition: color 0.15s ease-in;	
	color: #ddd;
}

a.button.medium {
height: 35px;
line-height: 35px;
font-size: 16px;
}

a.button.big {
height: 55px;
line-height: 55px;
font-size: 22px;
}

/*Pretty-Photo*/
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(images/prettyPhoto/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(images/prettyPhoto/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(images/prettyPhoto/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(images/prettyPhoto/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(images/prettyPhoto/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(images/prettyPhoto/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(images/prettyPhoto/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(images/prettyPhoto/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(images/prettyPhoto/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(images/prettyPhoto/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(images/prettyPhoto/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(images/prettyPhoto/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(images/prettyPhoto/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(images/prettyPhoto/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(images/prettyPhoto/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(images/prettyPhoto/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(images/prettyPhoto/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(images/prettyPhoto/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(images/prettyPhoto/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}




/* ---------------------------------------------
 Tooltip
------------------------------------------------ */	
a.tooltip, a.tooldown{display:inline-block;}
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 2px #000000; -webkit-box-shadow: 0 0 2px #000000; -moz-box-shadow: 0 0 2px #000000; }
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
  
.toggle {background:#fff;margin-bottom: 15px;	border: 1px solid #E5E5E5;position: relative;	}
.toggle h3{padding-bottom: 5px;
margin: 0px;
cursor: pointer;
background: #242E33 url(images/toggle-minus.png) no-repeat 14px 16px;
color: #fff;
padding: 10px 40px;}
h3.toggle-head-close{background: #40515A url(images/toggle-plus.png) no-repeat 14px 16px;display:none;}
.toggle-content{padding:15px;}
.toggle.close .toggle-content ,
.toggle.close  h3.toggle-head-open  {display:none;}
.toggle.close  h3.toggle-head-close {display:block;}

.post-tabs,.post-tabs-ver{	margin-bottom:20px;}
.post-tabs ul.tabs-nav{margin: 0 0 0 1px;
padding: 0;
width: 100%;
z-index: 2;
position: relative;}
.post-tabs ul.tabs-nav li{	background: #F7F7F7;
color: #777;
border: 1px solid #E5E5E5;
border-bottom: 0;
display: inline-block;
float: left;
padding: 9px 14px 9px 14px;
margin-left: -1px;
cursor:pointer;}
.post-tabs ul.tabs-nav li.current{	border-top-color: #EB4A4A;
border-top-width: 1px;
color: #EB4A4A;
background: white;
margin-bottom: -1px;
padding-bottom: 10px;}
.post-tabs .pane{background: white;
display: none;
border: 1px solid #E5E5E5;
float: left;
padding: 10px;}
.post-tabs-ver ul.tabs-nav{float:left;width:170px;margin:0;-webkit-padding-start: 0px;}
.post-tabs-ver ul.tabs-nav li{	background: #F7F7F7;
color: #777;
border: 1px solid #E5E5E5;
border-bottom: 0;
display: inline-block;
float: left;
padding: 9px 14px 9px 14px;
margin-left: -1px;
width: 142px;
border-right: none;}
.post-tabs-ver ul.tabs-nav li.current{background:#fff;z-index:1;width:138px;}
.post-tabs-ver .pane{margin-left: 170px;
background: white;
margin-bottom: 15px;
border: 1px solid #E5E5E5;
padding: 20px;
min-height: 180px;}
.post-tabs, .post-tabs-ver {
overflow: hidden;
}
