
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=98b87bff8c0689fd5b6a32954f6b63a2
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup